rotary-embedding-torch==0.8.5
arrow==1.3.0
multidict==6.0.4
async-lru==2.0.4
python-slugify==5.0.2
nbclient==0.10.0
uri-template==1.3.0
pydantic_core==2.23.4
rfc3339-validator==0.1.4
executing==2.1.0
pexpect==4.9.0
absl-py==2.1.0
pycodestyle==2.12.1
text-unidecode==1.3
pandas==2.2.3
tornado==6.4.1
matplotlib==3.9.2
nbconvert==7.16.4
fqdn==1.5.1
decorator==5.1.1
gmpy2==2.1.2
torchvision==0.20.1
traitlets==5.14.3
fonttools==4.54.1
nest-asyncio==1.6.0
smmap==5.0.1
tqdm==4.67.0
ptyprocess==0.7.0
mdurl==0.1.0
isoduration==20.11.0
contextlib2==21.6.0
beartype==0.19.0
nltk==3.9.1
GitPython==3.1.43
notebook==7.2.2
typing_extensions==4.11.0
filelock==3.13.1
urllib3==2.2.3
overrides==7.7.0
cookiecutter==2.6.0
parso==0.8.4
webencodings==0.5.1
responses==0.13.3
json5==0.9.25
tinycss2==1.4.0
Pygments==2.15.1
huggingface_hub==0.24.6
python-json-logger==2.0.7
flake8==7.1.1
defusedxml==0.7.1
referencing==0.35.1
requests==2.32.3
Jinja2==3.1.4
gitdb==4.0.11
soupsieve==2.6
aiohttp==3.10.5
yarl==1.11.0
bitsandbytes==0.42.0
httpx==0.27.2
safetensors==0.4.5
six==1.16.0
seaborn==0.13.2
h11==0.14.0
wheel==0.44.0
aiohappyeyeballs==2.4.0
torchmetrics==1.6.0
joblib==1.4.2
packaging==24.1
Unidecode==1.3.8
setuptools==75.1.0
pytz==2024.1
PySocks==1.7.1
prometheus_client==0.21.0
rich==13.7.1
jupyter_server==2.14.2
jupyter_client==8.6.3
tokenizers==0.20.3
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
ml_collections==1.0.0
jupyter-events==0.10.0
pydantic==2.9.2
jsonpointer==3.0.0
pyzmq==26.2.0
appnope==0.1.4
evaluate==0.4.0
numpy==1.26.4
mistune==3.0.2
attrs==24.2.0
fsspec==2024.3.1
tzdata==2023.3
markdown-it-py==2.2.0
certifi==2024.8.30
tenacity==9.0.0
cffi==1.17.1
jsonschema==4.23.0
nbformat==5.10.4
torchaudio==2.5.1
stack-data==0.6.3
argon2-cffi==23.1.0
asttokens==2.4.1
threadpoolctl==3.5.0
frozenlist==1.4.0
kiwisolver==1.4.7
setproctitle==1.3.3
wandb==0.18.7
jedi==0.19.1
jupyter_core==5.7.2
pyparsing==3.2.0
contourpy==1.3.0
chardet==4.0.0
Send2Trash==1.8.3
jupyter-lsp==2.2.5
debugpy==1.8.7
torch==2.5.1
sniffio==1.3.1
jsonschema-specifications==2024.10.1
einops==0.8.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mccabe==0.7.0
bleach==6.1.0
fastjsonschema==2.20.0
wcwidth==0.2.13
widgetsnbextension==4.0.13
lightning-utilities==0.11.8
charset-normalizer==3.3.2
binaryornot==0.4.4
antlr4-python3-runtime==4.9.3
Brotli==1.0.9
sentry-sdk==2.17.0
numexpr==2.8.7
babel==2.16.0
jupyterlab_server==2.27.3
ipython==8.29.0
prompt_toolkit==3.0.48
openai==1.54.4
pycparser==2.22
cycler==0.12.1
multiprocess==0.70.15
ipywidgets==8.1.5
pip==24.2
idna==3.7
Bottleneck==1.3.7
dill==0.3.8
comm==0.2.2
networkx==3.3
pure_eval==0.2.3
distro==1.9.0
psutil==6.1.0
pillow==10.4.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
terminado==0.18.1
sympy==1.13.1
argon2-cffi-bindings==21.2.0
PyYAML==6.0.2
scipy==1.14.1
matplotlib-inline==0.1.7
transformers==4.46.3
datasets==2.19.1
sentencepiece==0.2.0
xxhash==2.0.2
rpds-py==0.20.0
pyarrow==16.1.0
protobuf==5.28.3
regex==2024.9.11
jupyter_server_terminals==0.5.3
tiktoken==0.8.0
aiosignal==1.2.0
beautifulsoup4==4.12.3
platformdirs==4.3.6
ipykernel==6.29.5
webcolors==24.8.0
jiter==0.6.1
annotated-types==0.7.0
MarkupSafe==2.1.3
scikit-learn==1.5.2
jupyterlab==4.2.6
anyio==4.6.2.post1
omegaconf==2.3.0
httpcore==1.0.6
pyflakes==3.2.0
click==8.1.7
notebook_shim==0.2.4
accelerate==1.1.1
websocket-client==1.8.0
